# Database (MongoDB)
DATABASE_URL="mongodb+srv://username:password@cluster.mongodb.net/finance_dashboard"

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET="2c38e114f23706dcbbbd5dfa53311161b9364f2a4b95eee14ac9477d4336292e"
JWT_EXPIRY="24h"
